# Godot 4+ specific ignores
.godot/
/android/
/.vscode
.editorconfig
.gitattributes
icon.svg
icon.svg.import
project.godot
Project FERL 2026.sln
Project FERL 2026.csproj
.gitattributes
*.png
*.import
/unimported
/addons
